
<div class="container">
  <div class="boxes zero">
    <div class="main">
            <p><b>A scientist, inventor and serial entrepreneur</b>, Dr. Lauren Barghout holds a Ph.D. and M.S. in Vision Science from the University of California at Berkeley and a Bachelors degree in Physics from Hampshire College. Lauren founded several companies. She invented a Gestalt-based fuzzy-logic image segmentation and labeling technique used commercially in image/video back-ground removal systems, object recognition and image labeling systems. Her research has contributed to the understanding of context-dependent spatial vision, spatial masking, theoretical and computational psychophysics, and the application of fuzzy set theory to human and machine vision. She is a visiting scholar at the Berkeley Initiative for Soft Computing in the Electrical Engineering and Computer Science department at U.C. Berkeley. She is currently writing a book for O’Reilly Media titled: "Essential Computer Vision: Fuzzy and Bayesian techniques" with co-author Anthony Di Franco.</p>
 	</div>
        
    <div class="recent">
        	<h3>Publications Of Interest</h3>
            <h4>(click on the links below to download)</h4>

        
        	<a href="/documents/large_document.pdf">Spatial-Taxon Information Granules as Used in Iterative Fuzzy-Decision-Making
            for Image Segmentation</a>
        	<br>
            <br>
        	<a href="/documents/large_document.pdf">Download</a>
        	<br>
            <br>
        	<a href="/documents/large_document.pdf">Download</a>
    </div>
   </div>
</div>

  



