<div class="container">
<div class="boxes zero">
<div class="publication">
    
    <h1> Publications</h1>
 
<p>Barghout, Lauren. "Spatial-Taxon Information Granules as Used in Iterative Fuzzy-Decision-Making for Image Segmentation." Granular Computing and Decision-Making. Springer International Publishing, 2015. 285-318. <a href="/documents/large_document.pdf">Download</a></p>
 
<p>Barghout, Lauren. "Visual Taxometric Approach to Image Segmentation Using Fuzzy-Spatial Taxon Cut Yields Contextually Relevant Regions." Information Processing and Management of Uncertainty in Knowledge-Based Systems. Springer International Publishing, 2014.<a href="/documents/large_document.pdf">Download</a></p>




</div>
</div>
</div>
